@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--
<html>
    <body>
        <h1>carrito</h1>

        <table class="table table-bordered">
            <tr>
                <td scope="col">Marca</td>
                <td scope="col">Nombre</td>
                <td scope="col">Precio</td>
                <td scope="col">Descripcion</td>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.p.Nombre</td>
                        <td scope="col">@item.m.Nombre</td>
                        <td scope="col">@item.p.Precio</td>
                        <td scope="col">@item.p.Descripcion</td>
        
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>-->
